

body{

    width:70%;
    margin: 10px auto;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
}

a{
    color:blue;
}

.container{
    width:60%;
    text-align: center;
    margin: auto;
}

p{
    font-weight: bold;
}

ol{
    font-weight: bold;
}